html, body {
     cursor: url(https://i.ibb.co/MVTN295/cursor.png), auto !important;
   }




/* Importing the peepo font */
@font-face {
    font-family: "Peepo";
    font-weight: 100;
    src: url(Peepo.ttf) format("truetype");
}
p.customfont {
  font-family: "Peepo", peepo;
}

/* Setting body font */
body {
  font-family: "Peepo";
  font-weight: 100;
  font-size: 36px;
  line-height: 1.30;
  color: black;

}

/* Setting body font */
p {
  font-family: "Peepo";
  font-weight: 100;
  font-size: 20px;
  line-height: 1.50;
  position: fixed;
  top: 53%;
  left: 4%;
  right: 30%;
  text-align: justify;
  color: black;

}

/* overriding highlight text selection color */
::selection {
    color: #0000ff;
  background: #ffff00;
}
/* h1 text settings */
h1 {
position: fixed;
top: -6%;
right: 4%;
font-weight: 100;
font-size: 105px;
color: black;
line-height: 95%;
text-align: right;
text-decoration: none;

}

/* h2 text settings */
h2 {
position: fixed;
top: 320px;
right: 5%;
font-weight: 100;
font-size: 20px;
color: black;
text-align: right;
text-decoration: none;

}
/* fridge text settings */
#left a {
  position: fixed;
  top: -1%;
  left: 3%;
      font-weight: 100;
  font-size: 125px;
  color: black;
  text-decoration: none;
}

/* read me text settings */
#right a {
  position: fixed;
  top: 28px;
  right: 50px;
      font-weight: 100;
  font-size: 32px;
  color: black;
  text-decoration: none;
}

/* change hover colour */
#right a:hover {
  position: fixed;
  top: 28px;
  right: 50px;
      font-weight: 100;
  font-size: 32px;
  color: #0000ff;
  text-decoration: none;
}

/* about text settings */
#right2 a {
  position: fixed;
  top: 28px;
  right: 210px;
      font-weight: 100;
  font-size: 32px;
  color: black;
  text-decoration: none;
}

/* change hover colour */
#right2 a:hover {
  position: fixed;
  top: 28px;
  right: 210px;
      font-weight: 100;
  font-size: 32px;
  color: #0000ff;
  text-decoration: none;
}

/* reset text settings */
#bot a {
  position: fixed;
  top: 135px;
  left: 3%;
      font-weight: 100;
  font-size: 32px;
  color: black;
  text-decoration: none;
}

/* change hover colour */
#bot a:hover {
  position: fixed;
  top: 135px;
  right: 1154px;
      font-weight: 100;
  font-size: 32px;
  color: #0000ff;
  text-decoration: none;
}

/* black text settings */
#back a {
  position: fixed;
  top: 5%;
  left: 4%;
      font-weight: 100;
  font-size: 32px;
  color: black;
  text-decoration: none;
}

/* change hover colour */
#back a:hover {
  position: fixed;
  top: 5%;
  left: 4%;
      font-weight: 100;
  font-size: 32px;
  color: #0000ff;
  text-decoration: none;
}

/* black text settings */
#spotify a {
  position: fixed;
  top: 87%;
  left: 4%;
  font-weight: 100;
  font-size: 20px;
  color: #0000ff;
  text-decoration: underline;
}

/* change hover colour */
#spotify a:hover {
  position: fixed;
   top: 87%;
  left: 4%;
  font-weight: 100;
  font-size: 20px;
  color: black;
  text-decoration: underline;
}
/************** STYLES FOR ABOUT PAGE ONLY ****************/

/* h3 text settings, big blue hello text */

h3 {
position: fixed;
top: -100%;
right: 4%;
font-weight: 100;
font-size: 680px;
line-height: 95%;
letter-spacing: -21px;
text-decoration: none;

}

/* exclaimation mark only */
h4 {
position: fixed;
top: -138.5%;
right: -7%;
font-weight: 100;
font-size: 680px;
text-decoration: none;
color: blue;

}

/* Setting body font */
h6 {
  font-family: "Peepo";
  font-weight: 100;
  font-size: 21px;
  line-height: 2  ;
  position: fixed;
  bottom: 25%;
  right: 40%;
  text-align: right;
  color: #0000ff;

}

/* highlight specific text, word only */
mark {
  background-color: #04f930;
  color: black;
}


h1, a {
  mix-blend-mode: difference;
}

canvas {
  vertical-align: bottom;
}
/* end of file */
